body {
    background-color: #111827;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.btnContainer {
    margin-top: 10rem;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn:hover {
    background-color: #dddd;
}

.btn:active {
    transform: scale(0.98);
}

.btn.active {
    background-color: #666;
    color: white;
    transform: scale(0.98);
}

.container-content {
    margin: 1rem;
}

.filterCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.card {
    display: block;
    height: 15rem;
    width: 15rem;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.description {
    margin: 0.5rem 0.3rem;
}

.description h4 {
    color: black;
    text-align: center;
}

.description p {
    color: #666;
}